.about{
    margin-top: 31px;
}
.about-title{
    color: #957baa;
    text-decoration: underline;
    text-decoration-color: #fad98a;

}

.about span{
    position: relative;
    top: 53px;
    font-size: 14px;
    color: #847b7b;
}